

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 175%;
}

.title {
	position: relative;
	top: -1px;
	right: -1px;
	width: 200px;
    border: 1px solid black;
    float: right;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
}

.lorem_ipsum {
	margin-top: 45px;
	padding: 10px;
}

.box1 {
	background-color: #F5815B;
	border: 1px solid black;
}

.box2 {
	background-color: #599146;
	border: 1px solid black;
}

.box3 {
	background-color: #467E91;
	border: 1px solid black;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .large_device_third {
  	float: left;
    padding: 10px;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .medium_device_half {
    float: left;
    padding: 10px;
    width: 50%;
  }
  .medium_device_full {
  	float: left;
    padding: 10px;
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .small_device_full {
  	float: left;
    padding: 10px;
    width: 100%;
  }
}